:root {
  --color-ligth-grayish-blue:  hsl(210, 46%, 95%);
  --color-grayish-blue:  hsl(212, 23%, 69%);
  --color-dark-blue:  hsl(214, 17%, 51%);
  --color-very-dark-blue:  hsl(217, 19%, 35%);
}

.page {
  height: 100vh;
  background-color: hsl(210, 46%, 95%);
  display: grid;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}